page-home {
	ion-header {
		text-align: center;
	}
	ion-footer {
		text-align: center;
	}
	ion-card {
		padding: 20px;
	}
}

.biggerText {
	font-size: 1.5em;
}

.checkResult {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.checkImage {
	width: 50px;
}

.navbarBack {
	float: left;
}